@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Lora:ital@1&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

nav{
    background: rgb(52, 35, 52);
    color: white;
    height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
}

nav ul{
    list-style-type: none;
}

.gameContainer{
   
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}

.box{
    border: 1.5px solid black;
    font-size: 15vh;
    cursor:pointer ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.box:hover{
    background: rgb(190, 179, 190);
}

.gameInfo{
    padding:34px;
    font-family: 'Kalam', cursive;
    font-size: 3vh;
}

.imageBox img{
    width:0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    padding: .85vh;
    background: rgb(241, 161, 241);
    border: none;
    width: 10vh;
    border-radius: 5px;
    display: block;
    margin-top: .5vh;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#reset:hover{
    background-color: rgb(67, 37, 67);
    color: antiquewhite;
}

.info{
    font-size: 3vh;
    font-weight: 200;
}

.line{
    background: black;
    height: 3px;
    width: 0vw;
    position:absolute;
    background-color: rgb(75, 46, 103);
    border-radius: 3px;
    transition: width 0.5s ease-in-out;
    
}

@media  screen and (max-width:1100px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 5vh;
    }
    h1{
        font-size: 1rem;
    }
    .box{
        font-size: 8vh;
    }
    .container{
        
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
    
}

